* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parent {
    width: 600px;
    margin: 40px auto;
    background-color: #eee;
    padding: 15px;

    & input {
        padding: 15px;
        border: none;
        font-size: 20px;
        width: 100%;
        margin-bottom: 15px;

        &:focus {
            outline: none;
        }
    }

    & .buttons {
        display: flex;
        justify-content: space-between;

        & span {
            background-color: #009688;
            color: #fff;
            padding: 6px 10px;
            margin-bottom: 15px;
            cursor: pointer;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
        }
    }

    & .results {
        background-color: #fff;
        padding: 20px;
        border: 2px dashed #eee;
        text-align: center;

        & span .keys {
            display: block;
        }

        & span span {
            font-weight: bold;
            color: #009688;
        }
    }
}